body {
  margin: 0;
    font-family: Georgia;
    background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
  }

  .orient {
    border-radius: 50%;
  }
  
  header {
    background-color: CornflowerBlue;
    text-align: center;
    padding: 20px;
  }
  
  .about-me {
    font-size: 20px;
    opacity: 0.5;
    color: azure;
  }
  
  main{
    margin-left: 30px;

  }

  .title {
    font-weight: bold;
    font-size: 15px;
    color: rgb(56, 74, 92);
  }
  
  h1 {
    color: Azure;
  }

  h2 {
    color:rgb(9, 9, 77);
    
    
  }
  
li {
  list-style-type: square;
} 

hr {
  width: 90%;
  border-top: 1px solid darkgreen;
  opacity: 0.4;
}



footer h2, footer p, h6 {
  text-align: center;
  line-height: 1px;
  
}
  li, footer p {
    color: rgb(78, 77, 77);
  }

  h6 {
    color: darkred;
  }

 
 